*
{
    background-color: #ffbe0f;
    text-align: left;
   
    
}
img
{
    width: 250px;
    height: 250px;
  float: left;
}
p{
    color: #8c0000;
    text-align: left;
    font-size: 15px;
}
h1 {
    text-align: center;
    color: #fa1e0e;
    border: solid;
    margin: 40px;
}
h2{
    text-align: center;
    color: #fa1e0e;
}
h3{
    text-align: center;
    color: #fa1e0e;
}
h6{
    text-align: center;
    color: #fa1e0e; 
    display: inline-block; 
   
}
